@import url('reset.css');
@import url('form.css');


body {
    font-family: sans-serif;
    height: 100vh;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

main .container {
    max-width: 900px;
}

.header {
    background: rgb(48, 191, 86);
    padding: 8px 0;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 30px;
}

.header__item {
    font-size: 20px;
    text-transform: uppercase;
    color: #606060;
    background: #242323;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.active {
    color: #fff;
}

main {
    padding: 50px 0;
    overflow: hidden;
}

.vocabulary__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    background: #687867;
    box-shadow: 4px 4px 5px rgb(54, 54, 54);
    padding: 20px;
}

.vocabulary__body {
    max-width: 80%;
}

.title {
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.transcription {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.translation {
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 10px;
    display: inline-block;
    color: #313131;
}

.description {
    text-transform: capitalize;
}

.adding__title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.adding__form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
}

.adding__input {
    margin-bottom: 10px;
    padding: 10px;
}

.adding__btn {
    padding: 10px 30px;
    background: #242323;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    width: 100px;
    margin: 30px auto 0;
}

.log-out {
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
}

.delete__btn {
    padding: 10px 30px;
    background: #242323;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
}

.message {
    margin: 30px auto 0;
    max-width: 400px;
    position: relative;
    top: 120px;
    text-align: center;
    transition: 1s ease-in;
    padding: 20px;
    background: #d6d6d651;
}